body, html{
	font-size: 14px;
	margin: 0;
	height: 100%;
	font-family: monospace,sans-serif;
}

.index-container {
	background-image: url("../img/bg.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.index-container .title {
	margin: 0;
	color: #ffffff;
	font-size: 4vw;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.index-container .button {
	color: white;
	cursor: pointer;
	background-color: #e7505a;
	border-color: #e7505a;
    border-radius: 30px;
    padding: 9px 55px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none!important;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-transform: uppercase;
}