.nav-header {
	position: fixed;
	z-index: 1;
	transition: background-color 700ms ease,color 700ms ease,border-color 700ms ease;
	height: 80px !important;
	left: 0px;
	right: 0px;
	top: 0px;
	color: #ffffff;
	border-color: #e7505a;
	border-bottom: solid 1px transparent;
	margin: 0% 2%;
}
.nav-header nav {
	float: right;
	line-height: 39px;
	font-size: 15px;
	margin-top: 3px;
}

.nav-header .logo {
	position: absolute;
	transition: opacity 700ms ease;
	top: 50%;
	left: 20px;
	transform: translate(0, -50%);
	font-size: 30px;
	color: white;
}

.nav-header nav ul {
	margin: 0;
	padding: 15px 0px 0px 0px;
}
.nav-header nav li {
	display: inline-block;
	margin-left: 20px;
}

.nav-login:hover {
	background-color: #e7505a!important;
	border-color: #e7505a!important;
}

.nav-header nav {
	text-transform: uppercase;
	margin-right: 20px;
}
.nav-header nav a {
	color: inherit;
	font-size: 18px;
	text-decoration: none!important;
	display: inline-block;
	font-weight: 500;
}
.nav-header nav a:hover {
	color: #e7505a;
}
.nav-header nav a.button.nav-login {
	border-width: 1px;
	border-style: solid;
	border-color: #ffffff;
	background-color: #ffffff;
	color: #e7505a;
	border-radius: 30px;
	padding: 0px 30px;
	font-weight: bold;
	cursor: pointer;

}
.nav-header nav a.button.nav-login:hover {
	color: white;
	background-color: #2c95d8;
	cursor: pointer;
	border-color: #2c95d8;
}
