.messages {
	visibility: hidden;
	position: absolute;
	height: 100%;
	width: 80%;
	left: 20%;
	z-index: 1;
}

.messages .view {
	position: relative;
	height: 700px;
	width: 78vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2%;
	box-shadow: 0 2px 10px 0 rgba(155,155,155,0.77);
	background-color: rgba(114, 119, 127, 0.03);
}

.msg-input {
	border-top: 1px rgba(155,155,155,0.4) solid;
	height: 50px;
	top: 650px;
	position: absolute;
	width: 100%;

}

.msg-text-input {
	position: relative;
	left: 50px;
	width: 67vw;
	top: 50%;
	transform: translate(0, -50%);
	background: none;
	border: 1px solid rgba(155,155,155,0.5);
	border-radius: 25px;
	outline: none;
	padding-left: 10px;
	padding-right: 10px;
	color: rgba(155,155,155,0.9);
	font-weight: 700;
}

.msg-text-send {
	border-radius: 25px;
	width: 75px;
	height: 30px;
	background: linear-gradient(262deg, #ff7854, #fd267d);
	color: white;
	font-weight: 700;
	position: absolute;
	right: 50px;
	top: 10px;
	border: none;
	cursor: pointer;
}

.msg-text-send:focus {
	outline: none;
}

.msg-name {
	left: 5px;
	position: relative;
}

.msg-img {
	height: 40px;
	width: 50%;
	position: relative;
	background-position: 0% 50%;
	background-size: auto 100%;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	left: 5px;
}

.msg-text {
	position: relative;
	top: -35px;
	left: 60px;
}


.msg-msg {
	position: relative;
	top: 7px;
	left: 50px;
}

.conversation-box {
	height: 50px;
	cursor: pointer;
	position: relative;
	top: -80px;
}

.conversation-box .photo {
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: absolute;
	background-color: red;
	width: 48px;
	height: 48px;
}

.conversation-box .name {
	left: 55px !important;
	top: 0px !important;
	position: relative !important;
	font-weight: 400 !important;
	font-size: 20px !important;

}

.conversation-box .lastMessage {
	left: 115px !important;
	top: 38px !important;
	position: absolute !important;
	font-weight: 400 !important;
	font-size: 15px !important;
}