.notifications{
	position: absolute;
	top: 30%;
	left: 5%;
	font-weight: 800;
	font-size: 0.8rem;
	color: #424242;
}

.notifications_1{
	position: absolute;
	top: 33%;
	left: 5%;
	font-weight: 800;
	font-size: 0.8rem;
	color: #424242;
}

.notifications_2{
	position: absolute;
	top: 36%;
	left: 5%;
	font-weight: 800;
	font-size: 0.8rem;
	color: #424242;
}

.notifications_3{
	position: absolute;
	top: 39%;
	left: 5%;
	font-weight: 800;
	font-size: 0.8rem;
	color: #424242;
}