.settings-label {
	position: relative !important;
	top: unset !important;
	left: 5px !important;
	font-size: 15px !important;
	color: #fd267d !important;
}

.settings-box {
	position: relative;
	padding-top: 5px;
}

.settings-update-button {
	height: 35px;
	border-radius: 17px;
	background: linear-gradient(262deg, #ff7854, #fd267d);
	border: none;
	box-shadow: 0 1px 8px 0 rgba(0,17,25,.27);
	left: 5px;
	position: relative;
	top: 100px;
	color: white;
	font-weight: 400;
	font-size: 15px;
	outline: none;
	cursor: pointer;
}

.settings-box> input {
	float: right;
	margin-right: 5px;
	width: 250px;
}

.settings-box> select {
	float: right;
	margin-right: 5px;
	width: 250px;
	outline: none;
}

.settings-box> textarea {
	float: right;
	margin-right: 5px;
	width: 250px;
	outline: none;
	resize: none;
}

.settings {
	visibility: hidden;
	position: absolute;
	height: 100%;
	width: 80%;
	left: 20%;
	z-index: 1;
}

.settings .view {
	background-position: 50% 50%;
	background-size: 100%;
	position: relative;
	height: 575px;
	width: 375px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 2%;
	box-shadow: 0 2px 10px 0 rgba(155,155,155,0.77);
	cursor: pointer;
}

.settings>.view .name {
	position: relative;
	top: 535px;
	left: 20px;
	font-size: 1.4rem;
	color: #ffffff;
}

#ppfile {
	position: absolute;
	left: -5000px;
}

.button_logout {
	height: 35px;
	border-radius: 17px;
	background: linear-gradient(262deg, #ff7854, #fd267d);
	border: none;
	box-shadow: 0 1px 8px 0 rgba(0,17,25,.27);
	left: 5px;
	position: relative;
	top: 100px;
	color: white;
	font-weight: 400;
	font-size: 15px;
	outline: none;
	cursor: pointer;
	margin-top: -20%;
}