/* modal */

.signup-modal {
	background: rgba(255, 255, 255, 0.96);
	max-width: 480px;
	width: 100%;
	height: 600px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	border-radius: 5px;
	padding: 30px;
	box-sizing:border-box;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}

.signup-modal h1 {
	padding-top: 0;
	margin: 0;
	font-size: 18px;
	color: #333;
	padding-bottom: 10px;
}

.signup-modal h2 {
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	color: #757575;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	padding-bottom: 30px;
}

.signup-modal .group { 
	position: relative; 
	margin-bottom: 25px; 
}

.signup-modal input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: transparent;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #cdcdcd;
}

.signup-modal input:focus {
	outline: none;
}

.signup-modal label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease, visibility 0s, opacity 0.5s linear;
}

.signup-modal input:focus ~ label,
.signup-modal input.used ~ label {
	top: -20px;
	transform: scale(.75);
	left: -4px;
	color: #e7505a;
}

/* Button */

.signup-modal .button {
	text-transform: uppercase;
	margin-right: 20px;
	color: inherit;
	font-size: 18px;
	text-decoration: none!important;
	display: inline-block;
	font-weight: 500;
	color: #e7505a;
	border-width: 1px;
	border-style: solid;
	border-color: #e7505a;
	background-color: #ffffff;
	color: #e7505a;
	border-radius: 30px;
	padding: 9px 30px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

.signup-modal .button:hover {
	color: white;
	background-color: #e7505a;
	cursor: pointer;
	border-color: #e7505a;
}

.signup-modal .close {
	padding-bottom: 0;
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

.signup-modal .button:active {
	outline: none;
}
